<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260579450411-8je0155d56lir9fp50ffvtbf4fe1cdsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260579450411-8je0155d56lir9fp50ffvtbf4fe1cdsk</string>
	<key>API_KEY</key>
	<string>AIzaSyAcZH-saOwNFuWIbA9X5iFOecNqQUH0Qds</string>
	<key>GCM_SENDER_ID</key>
	<string>260579450411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuya.quizKasugago</string>
	<key>PROJECT_ID</key>
	<string>kasuga-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>kasuga-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260579450411:ios:f092ea4003529126a6d46e</string>
</dict>
</plist>